<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pageTitle }}</title>

    <link rel="stylesheet" href="/css/style/main.css">

    {{#if productCSS}}
        <link rel="stylesheet" href="/css/style/shop.css">
    {{/if}}

    {{#if formCSS}}
        <link rel="stylesheet" href="/css/style/product.css">
    {{/if}}
</head>
<body>
<header class="main-header">
    <nav class="main-header-nav">
        <ul class="main-header__items-list">
            <li class="main-header__item">
                <a href="/" class="{{#if activeShop}} active {{/if}}">Shop</a>
            </li>
            <li class="main-header__item">
                <a href="/admin/add-product" class="{{#if activeAdmin}} active {{/if}}">Shop</a>
            </li>
        </ul>
    </nav>
</header>

<!-- This is where the body content (e.g., the form or the products list) will be injected -->
{{{body}}}

</body>
</html>
