extends layouts/main-layout.pug

block styles
    link(rel="stylesheet" href="/css/style/product.css")

block content
    main
        form(action="/admin/add-product" method="POST" class="product-form")
            .form-control
                label(for="title") Title
                input(type="text" name="title" id="title" required)
            button(type="submit") Submit